<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
  body {
    margin: 0px;
    padding: 0px;
  }
  .two {
    margin-left: 60;
    font-size: 18px;
  }
  .three {
    margin-left: 50;
    margin-top: 8;
  }
  .nine{
    width: 100%;
    height: 100%;
    background-image: url("/webapp1/Image/orange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .hello{
    border-radius: 50%;
    background-color: white;
  }
   
</style>
<nav class="navbar navbar-expand-lg "style="background-color: black;position: fixed; width: 100%; z-index: 1000; height: 70px;">
    <div class="container-fluid" style="margin-left: 50;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <img src="/webapp1/Image/freepik__background__31870_1_-removebg.png" height="40" width="40" class="hello">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white; font-size: 18px;">𝓑𝓾𝓲𝓵𝓭 & 𝓡𝓮𝓹𝓪𝓲𝓻</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link active" aria-current="page" href="index.html.#one" style="color: white;">𝓗𝓸𝓶𝓮</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link" href="index.html.#five"style="color: white;">𝓢𝓮𝓻𝓿𝓲𝓬𝓮𝓼</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link" href="index.html.#nine"style="color: white;">𝓞𝓾𝓻 𝓦𝓸𝓻𝓴</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link" href="index.html.#ten"style="color: white;">𝓐𝓫𝓸𝓾𝓽 𝓤𝓼</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link" href="index.html.#eleven"style="color: white;">𝓒𝓸𝓷𝓽𝓪𝓬𝓽 𝓤𝓼</a>
          </li>
          <li class="nav-item two">
            <a class="nav-link" href="book.html"style="color: white;">𝓑𝓸𝓸𝓴 𝓞𝓷𝓵𝓲𝓷𝓮</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="nine" id="nine">
    <div style="height: 100%;width:100%; background-color: rgba(0,0,0,0.5);">
      <center>
        <h1 style="color:white;font-size:50;padding-top: 50;">𝓑𝓸𝓸𝓴 𝓞𝓷𝓵𝓲𝓷𝓮</h1>
        <hr style="width: 50px; border: 1px solid white;">
        <div style="border: 2px solid rgb(80, 75, 75); width: 70%; height: 51%; margin-top: 50px;">
          <div class="row">
            <div class="col">
              <img src="https://static.wixstatic.com/media/84770f_c7773a4a7baa45169881d35fb9a8e956~mv2.webp/v1/fill/w_469,h_324,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_c7773a4a7baa45169881d35fb9a8e956~mv2.webp" alt="" height="300px" width="500px">
            </div>
            <div class="col">
              <p style="color: white; font-size: 25px; padding-top: 80px;">Style My Ride</p>
              <p style="color: white; font-size: 15px;">1 hr - $50</p>
              <button style="border: 2px solid white; background-color: transparent; color: white;">Book Now</button>
            </div>
          </div>
        </div>
    </center>
    </div>
  </div>